{% extends "example/base.html" %}

{% block content %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">채팅방 이름</th>
                    <th scope="col" class="px-6 py-3">관리</th>
                </tr>
            </thead>
            <tbody>
                {% for chat_room in chatroom_list %}
                <tr class="bg-white border-b hover:bg-gray-50">
                    <td class="px-6 py-4">
                        <a href="{% url 'example:chat-room' %}" class="font-medium text-blue-600 hover:underline">
                            {{ chat_room.name }}
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex gap-2">
                            <a href="{% url 'example:edit' %}" class="font-medium text-blue-600 hover:underline">
                                수정
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
